.container {
  display: flex;
  max-width: 100%;
  margin-top: 30px;
  height: 40px;
  align-items: center;
  justify-content: space-between;
}

.breadcrumbs {
  display: flex;
  gap: 20px;
  font-size: 12px;
}

.form {
  display: flex;
  width: 570px;
}

/* .wrapper {
  
} */

form.form input[type='text'] {
  padding: 13px 20px;

  border: none;
  float: left;
  width: 80%;
  background: var(--clr-white);
  box-shadow: 0px 2px 7px 2px rgba(19, 53, 60, 0.15);
  border-radius: none;
}

::placeholder {
  color: var(--clr-black);
  opacity: 40%;
  font-size: 12px;
}

form > button {
  position: relative;
  right: 45px;
  background: none;
  border: none;
}
