footer {
  background: linear-gradient(180deg, #287194 0%, #0f435b 100%);
}

.container {
  display: flex;
  align-items: center;
  padding: 80px 0;
  color: var(--clr-white);
  justify-content: space-between;
}

.singleDiv > * {
  margin-bottom: 30px 0;
}

.singleDiv > h1 {
  font-size: 1.25rem;
  font-weight: normal;
}

.singleDiv > ul > * {
  margin-top: 30px;
}

.singleDiv > ul > li {
  font-size: 1rem;
  font-weight: 100;
}

.singleDiv > ul > li > a > span {
  /* padding-left: 15px; */
  font-size: 1rem;
  margin-left: 20px;
  color: var(--clr-white);
}

.socialIcons {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}
